    .funkce {
    text-align: center;
  }
    
  input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3vh;
  }
    
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6vh;
  }
    
  #result {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .nadpis{
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }